<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test </title>
</head>
<body>

<h3>F1</h3>
<table>
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>F2</th>
        <th>F3</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="f1: ${f1all}">
        <td th:text="${f1.code}">1</td>
        <td th:text="${f1.name}">0.99</td>
        <!--        <td th:text="${f1.f2set}">dfd</td>-->
        <td th:text="${f1.getF2Set()}">0.99</td>
        <!--        <td th:text="${f1.f3Set}">0.99</td>-->
    </tr>
    </tbody>
</table>
<h3>F2</h3>
<table>
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>F1</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="f2: ${f2all}">
        <td th:text="${f2.code}">1</td>
        <td th:text="${f2.name}">0.99</td>
        <td th:text="${f2.f1}">0.99</td>
    </tr>
    </tbody>
</table>

<form th:action="@{/index/delete1F1}" method="get">
    <button type="submit"> delete 1st F1</button>
</form>
<form th:action="@{/index/fill}" method="get">
    <button type="submit"> fill</button>
</form>


</body>
</html>